@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Line OA TCG First Reports</p>
</div>

<div class="card">
    <a asp-controller="Report" asp-action="Index" asp-route-reportType="Report1" class="btn btn-primary">
        Report รายงานพร้อมค้ำ
    </a>
</div>
