<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- log4net START here-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<!-- log4net STOP here-->
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="MyTxt" />
		</root>
		<appender name="MyTxt" type="log4net.Appender.RollingFileAppender">
			<file value="D:\LOG\HC_" />
			<!-- This is file path to save the log. Note : don't put file extension.-->
			<appendToFile value="true" />
			<datePattern value="yyyy-MM-dd.\tx\t" />
			<!-- This is date format for file name to save the log.-->
			<rollingStyle value="Date" />
			<param name="StaticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d %-8ndc %-5thread %-5level : %logger : %message %timestampms %n" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<!-- Database.-->
		<add key="DB_CustomerHealthCheck" value="server=192.168.0.6;uid=magic;pwd=DeveloP;database=DB_CustomerHealthCheck;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
		<add key="DB_SMEClinic" value="server=192.168.0.6;uid=magic;pwd=DeveloP;database=DB_SMEClinic;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
		<add key="DB_FACenter" value="server=192.168.0.6;uid=magic;pwd=DeveloP;database=DBFA_CENTER;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
		<!--<add key="DB_CustomerHealthCheck" value="server=192.168.0.13;uid=sa;pwd=sicgcadmin;database=DB_CustomerHealthCheck;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
    <add key="DB_SMEClinic" value="server=192.168.0.13;uid=sa;pwd=sicgcadmin;database=DB_SMEClinic;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
    <add key="DB_FACenter" value="server=192.168.0.13;uid=sa;pwd=sicgcadmin;database=DBFA_CENTER;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />-->
		<!--<add key="DB_CustomerHealthCheck" value="server=192.168.8.13;uid=AppUISub1;pwd=UATUIS1!$gD6#;database=DB_CustomerHealthCheck;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
	<add key="DB_SMEClinic" value="server=192.168.8.13;uid=AppUISub1;pwd=UATUIS1!$gD6#;database=DB_SMEClinic;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />
	<add key="DB_FACenter" value="server=192.168.8.13;uid=AppUISub1;pwd=UATUIS1!$gD6#;database=DBFA_CENTER;application name=CustomerHealthCheck;Connection Timeout=1;Max Pool Size=3000;" />-->
		<!-- Insite Web URL Config.-->
		<add key="DebtURL" value="/views/Debt/package.aspx" />
		<add key="ProductURL" value="/views/PreApproch/Step1.aspx" />
		<add key="NDIDURL" value="/views/NDID/Step1.aspx" />
		<add key="hddIdentifyURL" value="/views/Identify/Step1.aspx" />
		<add key="EventURL" value="/views/Event/index.aspx" />
		<add key="RegisterURL" value="/views/Register/index.aspx" />
		<add key="QuestionaireURL" value="/views/Questionaire/index.aspx" />
		<add key="RegisterDebtFormURL" value="/views/Register/Debt/" />
		<add key="RegisterEventFormURL" value="/views/Register/Event/" />
		<add key="AttentionURL" value="/views/Attention/Index/" />
		<add key="HomeUrl" value="" />
		<add key="APIHost" value="" />
		<add key="NDIDAPIHost" value="http://192.168.8.5:8200" />
		<add key="redirectURL" value="https://chatclinic.tcg.or.th/tcghealthcheck_uat/index" />
		<add key="S1URL" value="https://forms.exim.go.th/S1?suggest=EEAE848C-06AF-4F3B-8E56-4DC6C711A172" />
		<add key="NDIDURLCallback" value="https://192.168.10.18/apindidcallback/rp/request/" />
		<add key="NDIDEFormURL" value="https://tcgiduat.tcg.or.th/?uid=" />
		<!-- HealthCheck Config.-->
		<add key="CustomerHealthCheckURL" value="https://chatclinic.tcg.or.th/customerHealth_dev/ui/default.aspx" />
		<add key="PGS10HealthCheckURL" value="https://chatclinic.tcg.or.th/CustomerHealth_PGS10_dev/UI/V3/Default.aspx" />
		<!-- NDID Config.-->
		<add key="IsShowDataCallBack" value="1" />
		<add key="IsByPassNCBTermAndCondition" value="1" />
		<add key="IsCheckDopa" value="0" />
		<!-- Web Config.-->
		<add key="logging" value="Y" />
		<add key="IsRedirectToLineURLOrigin" value="0" />
		<add key="IsAllowEmptyCookie" value="1" />
		<add key="IsKeepRawData" value="1" />
		<add key="isCheckPDPACookie" value="1" />
		<add key="IsDebug" value="1" />
		<add key="IsDebugByPassValidateHeader" value="1" />
		<add key="IsHttpManagerDebug" value="0" />
		<add key="IsShowProfile" value="1" />
		<add key="IsShowScore" value="1" />
		<add key="MaxLengthTransaction" value="9" />
		<add key="IsShowResetButton" value="0" />
		<!-- Feature -->
		<add key="IsShowTCGProductFeature" value="0" />
		<add key="IsShowTCGDebtFeature" value="1" />
		<add key="IsShowTCGHealthCheckFeature" value="1" />
		<add key="IsShowTCGNDIDFeature" value="1" />
		<add key="IsShowEventFeature" value="1" />
		<add key="IsShowRegister" value="1" />
		<add key="IsShowNdidEForm" value="0" />
		<add key="IsShowCheckRequest" value="1" />
		<add key="IsShowCheckMyLG" value="1" />
		<add key="IsShowCheckMyBill" value="1" />
		<add key="IsShowCalculate" value="1" />
		<!-- LineConfig.-->
		<add key="LiffKey" value="1657329342-OLdNakq0" />
		<add key="lineOAuthURL" value="https://api.line.me/oauth2/v2.1/token" />
		<add key="client_id" value="1657312818" />
		<add key="client_secret" value="3800cba27f3a247014be3afcf6fae5a1" />
		<add key="TokenURLP1" value="https://access.line.me/oauth2/v2.1/login?loginState=BoZyzkeRs5mZCqpEwgddEK" />
		<add key="TokenURLP2" value="loginChannelId=1657312818" />
		<add key="TokenURLP3" value="returnUri=%2Foauth2%2Fv2.1%2Fauthorize%2Fconsent%3Fscope%3Dprofile%20openid%20email%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fchatclinic.tcg.or.th%252Ftcghealthcheck_uat%252Findex%26state%3D12345abcde%26nonce%3D09876xyz%26client_id%3D1657312818" />
		<add key="TokenURLLineLiff" value="https://liff.line.me/1657329342-OLdNakq0" />
		<!-- API Key.-->
		<add key="APIPartialCode" value="tcgXline@1234567" />
		<!-- API URL.-->
		<add key="ServiceURL" value="https://tcg-uat02.sbcg.or.th/tcg_api_center/api" />
		<add key="APIIDURL" value="https://192.168.8.6/apiid" />
		<add key="APILINEOAURL" value="https://192.168.8.6/apilineoa" />
		<add key="APINDIDConnextURL" value="http://192.168.10.20:3400" />
		<!--<add key="APIIDURL" value="https://localhost:44307" />-->
		<add key="APICenterURL" value="https://192.168.0.82/tcg_api_center" />
		<add key="APICenterUsername" value="Service_RestCAPI_UserDOTNET" />
		<add key="APICenterPassword" value="Tcg@2020" />
		<add key="APICenterXAccountID" value="seksit@tcg.or.th" />
		<!-- Email.-->
		<add key="InternalEmail" value="" />
		<add key="EmailTemplateHeader" value="PreApproch Document" />
		<add key="MailTemplatePath" value="D:\TCGRepos\TCH_HealthCheck\CustomerHealthCheckPortal\MailTemplate.txt" />
		<!-- Email.SendToFaCenter-->
		<add key="MailToConsult_Title" value="ระบบ F.A.Center บสย. ขอนำส่งเคลสคำขอ ชื่อ-สกุลลูกค้า : {0} เบอร์โทรศัพท์ : {1} เพื่อให้ดำเนินติดตาม/ประสานงานต่อ" />
		<add key="Key" value="0123456789|tcg@2020|0123456789FACenTer" />
		<add key="KeysEveryone" value="TCSwacEIZcG7AksCSC3fQ75423s;TP512acEIZ512cG7A5SC3fQ45tyd;TC82acEIZcG7FGSBC121SC3fQQ1265u;TC0acEIZcG7REQXVB127CSC3fEYUNdxw152;TC125PFGDA12kBCSC3fQyqERCVn195WQ" />
		<add key="MailToConsultPath" value="D:\TCGRepos\TCH_HealthCheck\CustomerHealthCheckPortal\MailToConsult.txt" />
		<!-- Email.SendToEventReigster [001]-->
		<add key="MailToEventRegister_Title" value="บสย. ได้รับการลงทะเบียนร่วมกิจกรรมของท่านเรียบร้อยแล้ว" />
		<add key="LinkMeeting" value="www.google.com" />
		<add key="SaltKey" value="pemgail9uzpgzl88" />
		<add key="ProductTypeNCBFocus" value="01207" />
		<!-- ContactDoctor Config -->
		<add key="ContactDoctorURL" value="https://liff.line.me/1657329342-wpGx9ry3" />
		<!-- DebtCompose Config -->
		<add key="BannerStartDate" value ="2023-05-29 00:00:00"/>
		<add key="BannerEndDate" value ="2024-05-29 00:00:00"/>
		<add key="NewTCGPortalURL" value="https://demo.tcg.or.th/LineOAFront_New_UAT"/>

	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/Error/500.htm">
			<error statusCode="404" redirect="~/Error/404.htm" />
			<error statusCode="500" redirect="~/Error/500.htm" />
		</customErrors>

		<httpRuntime maxRequestLength="2048576" enableVersionHeader="false" />
		<compilation debug="true" targetFramework="4.8" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="uc1" src="~/UserControl/Debt/UC_DebtPackage_Ads.ascx" tagName="UC_DebtPackage_Ads" />
			</controls>
		</pages>

	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="RegisterControllerSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:52201/RegisterController.asmx" binding="basicHttpBinding" bindingConfiguration="RegisterControllerSoap" contract="RegisterControllerService.RegisterControllerSoap" name="RegisterControllerSoap" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true">
				<requestLimits maxAllowedContentLength="2073741824"  />
			</requestFiltering>
		</security>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

	</system.webServer>
</configuration>